body {
    width: 250px;
    margin: .3em auto;
    font-size: .8em;
    font-family: sans-serif;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: .2em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.textcenter {
    text-align: center;
    cursor: default;
}

label {
    display: block;
    cursor: pointer;
}

.on-off-switch-input {
    display: none;
}

.on-off-switch {
    display: block;
    height: 50px;
    margin-bottom: 5px;
    background-image: url("on-off-switch.svg");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
}

.on-off-switch:hover {
    -webkit-filter: drop-shadow(0 0 2px #666);
}

.on-off-switch-input:checked + .on-off-switch {
    opacity: 0.25;
}
